body{
	background-image: url("../images/bkgd.jpg");
}
.header{
	background-color: #eee;
	margin: auto;
	margin-top: 10px;
	width: 50%;
	border: solid 2px rgb(152, 199, 253);
	padding: 5px;
	font-size: 30pt;
	font-weight: bold;
	text-align: center;

}
.instructions{
	background-color: #eee;
	margin: auto;
	margin-top: 10px;
	width: 50%;
	border: solid 2px rgb(152, 199, 253);
	padding: 5px;
}
.crystals{
	background-color: #fff;
	width: 50%;
	height: 70px;
	margin: auto;
	margin-top: 10px;
	border: solid 2px rgb(152, 199, 253);
	padding: 5px;
}
.numberToReach{
	background-color: #fff;
	margin-top: 10px;
	border: solid 2px rgb(152, 199, 253);
	padding: 10px;
	margin-right: 10px;
}
.userTotal{
	background-color: #fff;
	margin-top: 10px;
	border: solid 2px rgb(152, 199, 253);
	padding: 10px;
	margin-right: 10px;

}
.wins{
	background-color: #fff;
	margin-top: 10px;
	border: solid 2px rgb(152, 199, 253);
	padding: 10px;
	margin-left: 10px;

}
.losses{
	background-color: #fff;
	margin-top: 10px;
	border: solid 2px rgb(152, 199, 253);
	padding: 10px;
	margin-left: 10px;

}
section{
	float: left;
	width: 37.5%;
	margin-left: 25%;
}
aside{
	float: right;
	width: 12.5%;
	margin-right: 25%;
}
h3, span{
	font-weight: bold;
	text-align: center;
}
ol{
	list-style: decimal inside; 
	text-align: justify;
}
ul {
	list-style: disc inside;
	text-indent: 20px;
}
.gemImage{
	height: 60px;
	margin: auto;
	padding-left: 15%;
	align-items: center;
}
#blue{
	color: #3092c7;
}
#green{
	color: #00aa59;
}
#red{
	color: #ec4b5f;
}
#yellow{
	color: #ffc225;
}